<section class="room">
  <h1>Room 1234</h1>
  <div id="timer"></div>
  <button id="toggleTimer">Start</button>
</section>

<script src="/socket.io/socket.io.js"></script>
<script>
 var socket = io.connect('/')
 var room = document.querySelector('.room')
 var timer = document.querySelector('#timer')
 var toggle = document.querySelector('#toggleTimer')

 toggle.addEventListener('click', function () {
   socket.emit('start-timer')
   room.classList.remove('timeEnded')
 })

 socket.on('time-ended', function (data) {
   room.classList.add('timeEnded')
   timer.innerHTML = data.currentTime
   console.log(data)
 })

 socket.on('new-user', function (data) {
   timer.innerHTML = data.currentTime
   console.log(data)
 })
</script>
