*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  color: #131516;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content {
  padding: 16px;
}

.header {
  align-items: center;
  background: #E3F2FD;
  display: flex;
  height: 50px;
}

.header li {
  display: inline-block;
  list-style: none;
  padding-left: 16px;
}

.header li a {
  text-decoration: none;
}

.header li a:hover {
  text-decoration: underline;
}

.timeEnded #timer {
  color: #F44336;
}
